* {
  box-sizing: border-box;
  margin: 0;
}
:root{
  --main-bg-color: #f2f2f2;
  /* --main-txt-color: #ff4447; */
  /* --main-txt-color: #da816b; */
  --main-txt-color: #af614e;
  /* --main-txt-color: #e7a18f; */
  --txt-color: #41949a;
}
body{
  width: 100vp;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Radio Grotesk', Arial, Helvetica, sans-serif;
  background-image: url(images/SVG/bg.svg);
  background-size: cover;
  background-blend-mode: difference;
}

/* ---------STATIC ITEMS---------- */
h1{
  color: var(--main-txt-color);
  font-size: 50px;
  font-weight: 200;
  line-height: 1.1;
}
/* h2{
  font-size: 2.2em;
} */
p{
  color: var(--main-txt-color);
}
#title{
  position: absolute;
  top: 1%;
  right: 1%;
  text-align: right;
}
#colophone{
  position: absolute;
  top: 1%;
  left: 1%;
}
#colophone p{
  color: var(--main-txt-color);
  font-size: 13px;
}
#source{
  position: absolute;
  bottom: 3%;
  right: 2%;
  display: flex;
  /* writing-mode: vertical-lr; */
  text-orientation: mixed;
  margin-top: 0%;
  font-size: 13px;
  letter-spacing: 1px;
}
a {
  color: var(--main-txt-color);
}
#paragraph{
  position: absolute;
  bottom: 1%;
  right: 3%;
  width: 16%;
  text-align: right;
}
#paragraph p{
  color: var(--main-txt-color);
  font-size: 95.5%;
}

/* --------QUESTION--------- */
aside{
  position: absolute;
  bottom: 1%;
  left: 1%;
  color: var(--main-txt-color);
  font-weight: 100;
}
button{
  border-style: none;
  background-color:#f2f2f200;
  color: #df7a61a6;
  text-align: left;
  width: 100%;
}
button:hover{
  opacity: 70%;
}
button:focus {
  outline:0;
  border: none;
  color: #af614e;
  font-size: 100%;
}
button .active{
  border: none;
}
.question{
  display: flex;
  flex-wrap: wrap;
}
button h2{
  font-size: 470%;
  font-weight: 400;
  display: inline-block;
  margin-right: 3%;
}
h3{
  display: inline-block;
  font-size: 150%;
  font-weight: 540;
  width: 50%;
  margin-top: 2%;
}
/* --------GRAPHS----------- */
main{
  position: absolute;
  top: 3%;
  left: 14%;
  width: 90%;
  height: 90%;
}
/* -----GRAPH 1------- */
#graph1{
  margin-top: -7%;
  margin-left: -19%;
}
.subtitles{
  display: flex;
  justify-content: space-between;
}
.subtitles h2{
  display: inline-block;
  transform: rotate(-45deg);
  color: var(--main-txt-color);
  margin-right: 7%;
  width: 10em;
  letter-spacing: 1.2px;
  font-family: 'Radio Grotesk', Arial, Helvetica, sans-serif;
  font-size: 185%;
  font-weight: lighter;
}
#undecided{
  position: absolute;
  top: 15%;
  left: 4%;
}
#unlikely{
  position: absolute;
  top: 15%;
  left: 19%;
}
#veryunlikely{
  position: absolute;
  top: 15%;
  left: 36%;
}
#likely{
  position: absolute;
  top: 15%;
  left: 58%;
}
#verylikely{
  position: absolute;
  top: 15%;
  left: 82%;
}
hr{
  width: 92%;
  height: 1.5px;
  background-color: #fff;
  position: absolute;
  top: 36em;
  left: 3.8em;
  border: none;
}
.hundred{
  color: #fff;
  letter-spacing: 1.2px;
  position: absolute;
  top: 64%;
  left: 100%;
  font-size: 180%;
  font-weight: lighter;
}
#graph1-percentages{
  display: flex;
  justify-content: space-between;
  color: var(--main-txt-color);
  font-size: 110%;
  width: 90%;
}
#graph1-percentages h2{
  letter-spacing: 1.2px;
}
#ten{
  margin-left: 5.5%;
  margin-top: -20%;
}
#twelve{
  margin-left: -24%;
  margin-top: -20%;
}
#fourteen{
  margin-left: -24%;
  margin-top: -20%;
}
#thirtyone{
  margin-left: -20%;
  margin-top: -20%;
}
#thirtythree{
  margin-left: -13%;
  margin-top: -20%;
}


/* #graph1{
  margin-top: 22%;
  margin-left: -12%;
}
.subtitles{
  display: flex;
  justify-content: space-between;
}
.subtitles h2{
  display: inline-block;
  transform: rotate(-45deg);
  color: var(--main-txt-color);
  margin-right: 7%;
  width: 10em;
  text-align: right;
}
#undecided{
  position: absolute;
  top: 35.5%;
  left: -5%;
}
#unlikely{
  position: absolute;
  top: 40%;
  left: 18%;
}
#veryunlikely{
  position: absolute;
  top: 18%;
  left: 48%;
}
#likely{
  position: absolute;
  top: 7%;
  left: 65%;
}
#verylikely{
  position: absolute;
  top: -15%;
  left: 94%;
}
#graph1-percentages{
  display: flex;
  justify-content: space-between;
  color: var(--main-txt-color);
  font-size: 110%;
  width: 90%;
}
#ten{
  margin-left: 8.5%;
  margin-top: 0%;
}
#twelve{
  margin-left: 21%;
  margin-top: 0.5%;
}
#fourteen{
  margin-left: 20%;
  margin-top: 0%;
}
#thirtyone{
  margin-left: 20%;
  margin-top: 0%;
}
#thirtythree{
  margin-left: 20%;
  margin-top: 0%;
} */

/* -----GRAPH 2------ */
#graph2{
  position: absolute;
  top: 25%;
  left: 24%;
  opacity: 0;
}
#Seperator{
  transform: rotate(90deg);
}
.perc-upper{
  position: absolute;
  top: 10em;
  left: -5.5em;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.perc-upper h2{
  margin-left: 2em;
  font-size: 20px;
  font-weight: lighter;
  color: var(--main-bg-color);
  /* letter-spacing: 1px; */
}
.perc-lower{
  position: absolute;
  top: 13.5em;
  left: -5.5em;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.perc-lower h2{
  margin-left: 1.9em;
  font-size: 20px;
  font-weight: lighter;
  color: var(--main-bg-color);
  letter-spacing: 1.2px;
}
.hrgraphtwo{
  position: absolute;
  top: 12.6em;
  left: -9.5em;
  width: 180%;
  height: 2px;
}
.agree{
  position: absolute;
  top: 0em;
  left: -9em;
  transform: rotate(180deg);
  width: 5em;
}
.agree p{
  color: var(--main-bg-color);
  margin-left: 1em;
  margin-top: 7em;
  margin-bottom: 7em;
  transform: rotate(90deg);
  font-weight: lighter;
}
.strongly-agree{
  position: absolute;
  top: -0em;
  left: 15em;
  width: 30em;
  transform: rotate(180deg);

}
.strongly-agree p{
  color: var(--main-bg-color);
  margin-left: 12em;
  margin-top: 7em;
  margin-bottom: 7em;
  width: 5em;
  transform: rotate(90deg);
  font-weight: lighter;
}
.title-graphtwo{
  position: absolute;
  top: 8em;
}
.title-graphtwo h2{
  display: inline-block;
  transform: rotate(-45deg);
  color: var(--main-txt-color);
  /* margin: 7% 0%; */
  width: 15em;
  letter-spacing: 1.2px;
  font-size: 16px;
  font-family: 'Radio Grotesk', Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.t-one{
  position: absolute;
  top: -11em; 
  left: -4.5em;
}
.t-two{
  position: absolute;
  top: -10.5em; 
  left: 0em;
}
.t-three{
  position: absolute;
  top: -11em; 
  left: 4em;
  width: 5em; 
  text-align: left;
}
.t-four{
  position: absolute;
  top: -11.5em; 
  left: 9em;
  width: 5em; 
  text-align: left;
}
.t-five{
  position: absolute;
  top: -12em; 
  left: 14em;
  width: 5em; 
  text-align: left;
}
.t-six{
  position: absolute;
  top: -12em; 
  left: 18.5em;
  width: 5em; 
  text-align: left;
}
.t-seven{
  position: absolute;
  top: -11em; 
  left: 23em;
  width: 5em; 
  text-align: left;
}


/* -----GRAPH 3------ */
#graph3{
  opacity: 0;
  position: absolute;
  top: 5.5em;
  left: 24em;
}
#graph3 img{
  width: 20em;
}

